﻿@{
    ViewBag.Title = "Contacts";
}

<div class="wrap">
    <div class="container content_bg">
        <section>
            <div class="row">
                <div class="span4">
                    <h2 class="title"><span>המיקום שלי</span></h2>
                    <div id="map"><iframe width="100%" height="310" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=london&sll=37.0625,-95.677068&sspn=42.631141,90.263672&ie=UTF8&hq=&hnear=London,+United+Kingdom&ll=51.500141,-0.126257&spn=0.026448,0.039396&z=14&output=embed"></iframe></div>
                    <div style="text-align:right">
                    <p>כפר שמואל<br />בית קטן בערבה</p>
                    <p>טלפון: 1-500-677-5694<br />אימייל: <a href="mailto:#">info@yoursitename.com</a><br />פייסבוק: <a href="#">http://yoursitename.com</a></p>
                </div>
                    </div>
                <div class="span8">
                    <h2 class="title"><span>כתבו לי</span></h2>
                    <div class="contact_form">
                        <div id="note"></div>
                        <div id="fields">
                            <form id="ajax-contact-form" action="">
                                <input class="span7" type="text" name="name" value="" placeholder="שם" />
                                <input class="span7" type="text" name="email" value="" placeholder="אימייל" />
                                <input class="span7" type="text" name="subject" value="" placeholder="נושא" />
                                <textarea name="message" id="message" class="span8" placeholder="...תוכן"></textarea>
                                <div class="clear"></div>
                                <input type="submit" class="btn btn-default" value="שלח" style="width:100px; height:33px; font-size:1.5em" />
                                <div class="clear"></div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section ScriptEnd
{
    
<script type="text/javascript">

    $(document).ready(function () {
        
        $("li").removeClass("current");
        $("#liContacts").addClass("current");

    });

</script>
        
}



