﻿@model TalEliyahu.User

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsertEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsertEmail)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <input type="submit" value="Delete" /> |
                @Html.ActionLink("Back to List", "Admin")
            </div>
        }
    </div>


