﻿@section modelORusing{
    @using TalEliyahu
    @using System.Collections.Generic;
    @model IEnumerable<object>
}
    @{
        List<TalEliyahu.Student> lstStudents = Model.ToList()[0] as List<TalEliyahu.Student>;
        List<TalEliyahu.User> lstUsers = Model.ToList()[1] as List<TalEliyahu.User>;
    }

<div class="wrap">
    <div class="container">
        <section>
            <div class="row">
                <div style="text-align:right">

                    <!--panel-Student---------------------------------------------------------------->
                    <div class="panel-group" role="tablist">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                                <h4 class="panel-title">
                                    <a href="#collapseListGroup1" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1"> @ViewBag.AllStudents : סך הכל תלמידים </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup1" aria-labelledby="collapseListGroupHeading1" aria-expanded="false" style="height: 0px;">
                                <!--Table-->
                                <table class="table table-hover" style="text-align:right;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>אימייל</th>
                                            <th>סיסמה</th>
                                            <th>תעודת זהות</th>
                                            <th>שם</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (lstStudents != null)
                                        {
                                            foreach (var s in lstStudents)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.ActionLink("עריכה", "Edit", new { id = s.StudentIndex }) |
                                                        @Html.ActionLink("פרטים", "Details", new { id = s.StudentIndex }) |
                                                        @Html.ActionLink("מחיקה", "Delete", new { id = s.StudentIndex })
                                                    </td>
                                                    <td>@Html.DisplayFor(modelItem => s.StudentEmail)</td>
                                                    <td>@Html.DisplayFor(modelItem => s.StudentName)</td>
                                                    <td>@s.StudentPassword.ToString()</td>
                                                    <td>@s.StudentId.ToString()</td>
                                                    <td>@s.StudentIndex.ToString()</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>אין עדיין תלמידים במערכת</tr>
                                        }
                                    </tbody>
                                </table>
                                @Html.ActionLink("הוספת תלמיד/ה", "Create", "Students")
                                <br />
                                <br />
                                <br />
                                <!--EndTable-->                           
                            </div>
                        </div>
                    </div>
                    <!--//panel-Student-------------------------------------------------------------->
                    <!--panel-User---------------------------------------------------------------->
                    <div class="panel-group" role="tablist">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                                <h4 class="panel-title">
                                    <a href="#collapseListGroup2" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup2">@ViewBag.AllUsers : סך הכל יוזרים</a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup2" aria-labelledby="collapseListGroupHeading2" aria-expanded="false" style="height: 0px;">
                                <!--Table-->
                                <table class="table table-hover" style="text-align:right">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>אימייל</th>
                                            <th>שם</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (lstUsers != null)
                                        {
                                            foreach (var u in lstUsers)
                                            {
                                                <tr>
                                                    <td onclick="LoadPartialView()">
                                                        @*@Html.ActionLink("מחיקה", "_Delete", new { id = u.UserIndex })*@
                                                        מחיקה
                                                    </td>
                                                    <td>@u.UsertEmail.ToString()</td>
                                                    <td>@u.UserName.ToString()</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>אין עדיין יוזרים רשומים במערכת</tr>
                                        }
                                    </tbody>
                                </table>
                                <!--EndTable-->                             
                            </div>
                        </div>
                    </div>
                    <!--//panel-User-------------------------------------------------------------->
                    <hr />
                    <br />
                </div>

                <div id="dialogBox">
                    @Html.Partial("ghfghgf")
                </div>

 
                <div class="span4">
                    <h2 class="title"><span>מלל מלל</span></h2>
                    <p style="text-align:right">מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                    <p style="text-align:right">מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                </div>
                <div class="span4">
                    <h2 class="title"><span>מלל מלל</span></h2>
                    <p style="text-align:right">מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                    <p style="text-align:right">מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                </div>
                <div class="span4">
                    <h2 class="title"><span>מלל מלל מלל</span></h2>
                    <p style="text-align:right">מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                    <p style="text-align:right">מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title"><span>מלל מלל</span></h2>
            <p style="text-align:right">מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
            <div class="row">
                <div class="span3">
                    <div class="profile">
                        <img alt="" src="~/images/team1.jpg">
                        <h4>מלל מלל</h4>
                        <div class="profile_title">מלל מלל</div>
                        <p>מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                    </div>
                </div>
                <div class="span3">
                    <div class="profile">
                        <img alt="" src="~/images/team2.jpg">
                        <h4>מלל מלל</h4>
                        <div class="profile_title">מלל</div>
                        <p>מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                    </div>
                </div>
                <div class="span3">
                    <div class="profile">
                        <img alt="" src="~/images/team3.jpg">
                        <h4>מלל מלל</h4>
                        <div class="profile_title">מלל מלל</div>
                        <p>מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                    </div>
                </div>
                <div class="span3">
                    <div class="profile">
                        <img alt="" src="~/images/team4.jpg">
                        <h4>מלל מלל</h4>
                        <div class="profile_title">מלל</div>
                        <p>מלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מללמלל מלל</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section ScriptEnd
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("li").removeClass("current");
            $("#liStudents").addClass("current");

         });
</script>

<script>
    function LoadPartialView() {
        //Make it a dialog box. Note that you don't have to do this every time the button is called, so you might want to make it dialog on document ready or something.

        $("#dialogBox").dialog({
            draggable: false,
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "ביטול": function () {
                    $(this).dialog("close");
                    $("#dialogBox").hide();
                },
                "מחיקה": function () {
                    $(this).dialog("close");
                    $("#dialogBox").hide();
                }
            }
        });

        $.ajax({
            url: 'SomeActionName',
            type: 'post',
            success: function (html) {
                $('#dialogBox').html(html);
                $("#dialogBox").dialog("show"); //This could also be dialog("open") depending on the version of jquery ui.
            }
        });
    }
</script>



}
