/**************************
*
*	GENERAL
*
**************************/
.camera_wrap a, .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.camera_wrap {
	display: none;
	float: left;
	position: relative;
	z-index: 0;
}
.camera_wrap img {max-width: none!important;
}
.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
	background:#607a89;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
	overflow: hidden;
	position: absolute;
	z-index: 3;
}
.camera_bar {
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_prevThumbs {
}
.camera_prevThumbs div {
}
.camera_nextThumbs {
}
.camera_nextThumbs div {
}
.camera_command_wrap .hideNav {
	display: none;
}
.camera_command_wrap {
	left: 0;
	position: relative;
	right:0;
	z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {display:none;
}
.camera_commands {display:none;
}
.camera_prev, .camera_next {
	cursor: pointer;
	display:block !important;
	position: absolute;
	top: 50%;
	margin-top:-13px;
	width: 37px;
	height: 41px;
	z-index: 50;
}
.camera_prev {
	left:-7px;
}
.camera_next {
	right:-7px;
}
.camera_next > span,
.camera_prev > span {
	display: block;
	width: 37px;
	height: 41px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-color: none;
}

.camera_next > span {
	background-image: url(../images/slider_next.png);
}
.camera_prev > span {
	background-image: url(../images/slider_prev.png);
}

.camera_next > span:hover {
	background-image: url(../images/slider_next_h.png);
}
.camera_prev > span:hover {
	background-image: url(../images/slider_prev_h.png);
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0;
	font-size:0;
	position: relative;
}

.camera_caption {
    position: absolute;
	bottom: 40px;
	left:35px;
}
.camera_caption2 {
	position: absolute;
	bottom:43%;
	width:100%;
	text-align:center;
}
.camera_caption3 {
	position: absolute;
	bottom:40px;
	right:35px;
}
.slide_descr {
	display:inline-block;
	padding:12px 15px 14px;
	background:url(../images/caption_bg.png) repeat;
	text-transform:uppercase;
	line-height:36px;
	font-size:30px;
	color:#fff;
}











