﻿
@font-face {
    font-family: 'Varela';
    src: url('../fonts/Varela.ttf') format('truetype');
}
@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef.ttf') format('truetype');
}
body {
        font-family: 'Alef', 'Varela', sans-serif;
}