﻿
@RenderSection("modelORusing", false)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - טל אליהו - לימוד רכיבה מקצועית</title>

    <link href="~/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/css/camera.css" rel="stylesheet" />
    <link href="~/css/docs.css" rel="stylesheet" />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href="~/Scripts/google-code-prettify/prettify.css" rel="stylesheet" />
    <link href="~/css/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/Content/themes/base/dialog.css" rel="stylesheet" />
    <link href="~/css/myFonts.css" rel="stylesheet" />
</head>

<body>
    <!--header-->
    <div class="top_line">
        <div class="wrap">
            <div class="container">
                <div class="logo">
                    <a href="@Url.Action("Home", "Home")"><img src="~/images/logoTal.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="wrap">
            <div class="navbar navbar_ clearfix">
                <div class="menu_bg">
                    <div class="container">
                        <nav id="main_menu">
                            <div class="menu_wrap">
                                <ul class="nav sf-menu LavaLamp">
                                    <li id="liStudents"><a >כניסת תלמידים</a></li>
                                    <li id="liContacts" onclick="location.href='@Url.Action("Contacts", "Contacts")'"><a>צרו קשר</a></li>
                                    <li class="sub-menu">
                                        <a href="javascript:{}">סוסים</a>
                                        <ul>
                                            <li><a href="blog.html"><span>-</span>אילוף סוסים</a></li>
                                            <li><a href="blog_post.html"><span>-</span>ספורט רכיבה</a></li>
                                            <li><a href="blog_post.html"><span>-</span>הטיפול בסוס</a></li>
                                            <li><a href="blog_post.html"><span>-</span>בעיות התנהגות</a></li>
                                        </ul>
                                    </li>
                                    <li id="liArticles" onclick="location.href='@Url.Action("Articles", "Articles")'"><a>מאמרים</a></li>
                                    <li id="liMyStory" onclick="location.href='@Url.Action("MyStory", "MyStory")'"><a>הסיפור שלי</a></li>
                                    <li class="sub-menu" id="liRidingStyle" onclick="location.href='@Url.Action("RidingStyles", "RidingStyles")'">
                                        <a href="javascript:{}">סגנונות רכיבה</a>
                                        <ul>
                                            <li><a href="portfolio_2columns.html"><span>-</span>רכיבה טיפולית</a></li>
                                            <li><a href="portfolio_3columns.html"><span>-</span>רכיבה מערבית</a></li>
                                            <li><a href="portfolio_4columns.html"><span>-</span>'דרסאג</a></li>
                                            <li><a href="portfolio_5columns.html"><span>-</span>קפיצות</a></li>
                                            <li><a href="@Url.Action("SpiritualRiding", "RidingStyles")"><span>-</span>רכיבה רוחנית</a></li>
                                        </ul>
                                    </li>
                                    <li id="liHome" onclick="location.href='@Url.Action("Home", "Home")'"> <a> דף הבית <i class="icon-home icon-white"> </i> </a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//header-->   
    <div class="page_container">
        @RenderBody()
    </div>

    <!--Message Box for student login-------------------------------------------------------------------------->
    <div id="boxMessage" title="!כניסת תלמידים בלבד">
        @*<p>
            :שם משתמש
            <br />
            <input type="text" name="student_UserName" id="student_UserName" style="text-align: right;" />
        </p>
        <p>
            :סיסמה
            <br />
            <input type="password" name="student_Password" id="student_Password" style="text-align: right;" />
        </p>*@
    </div>
    <!--//Message Box for student login-------------------------------------------------------------------------->

    <!--footer---------------------------------------------------------------------------------------------->
    <footer>    
        <div id="footer">
            <div class="wrap">
                <div class="container footer_bord">
                    <div class="row">
                        <div class="span333">
                            <h2 class="title">אצלנו בחצר</h2>
                            <p>מלל מלל מלל מללל מלל מללמ למללמל מלל מלל מלל מלל, מלל מללמללמלל מלל מלל.</p>
                            <p>עוד מלל מלל מלל מלל. מלל מלל מלל מלל, מלל מלל מלל מלל מלל מלל מלל מלל מלל.</p>
                        </div>                
                        @*<div class="span333">
                            <h2 class="title">כתבו לי</h2>
                            <form action="#" method="post">
                                <input class="span3" type="text" name="name" id="name" value="שם" onfocus="if (this.value == 'שם') this.value = '';" onblur="if (this.value == '') this.value = 'שם';" />
                                <input class="span3" type="text" name="email" id="email" value="אימייל" onfocus="if (this.value == 'אימייל') this.value = '';" onblur="if (this.value == '') this.value = 'אימייל';" />
                                <textarea name="message" id="message" class="span3" onfocus="if (this.value == '...תוכן') this.value = '';" onblur="if (this.value == '') this.value = '...תוכן';">...תוכן</textarea>
                                <div class="clear"></div>
                                <input type="submit" class="btn send_btn" value="שלח" />
                                <div class="clear"></div>
                            </form>
                        </div>*@
                        <div class="span333">
                            <h2 class="title">הירשמו לניוזלט החודשי</h2>
                            <form action="#" method="post">
                                <input class="span3" type="text" name="fullNameSign" id="fullNameSign" style="background-color:white" value="שם מלא" onfocus="if (this.value == 'שם מלא') this.value = '';" onblur="if (this.value == '') this.value = 'שם מלא';" />
                                <input class="span3" type="text" name="emailSign" id="emailSign" style="background-color:white" value="אימייל" onfocus="if (this.value == 'אימייל') this.value = '';" onblur="if (this.value == '') this.value = 'אימייל';" />
                                
                                <div class="clear"></div>
                                <input type="submit" class="btn" style="background-color:gray; color:white " value="הסר" />
                                <input type="submit" class="btn" style="background-color:#4cae4c; color:white" value="הירשם" />
                                <div class="clear"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer_bottom">
                <div class="wrap">
                    <div class="container">
                        <div class="fleft copyright">
                            <p>
                            &copy; @DateTime.Now.Year | טל אליהו 
                                <a href="@Url.Action("Contacts", "Contacts")">  | לימוד רכיבה מקצועית 054-9197071</a>
                      </p>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//footer---------------------------------------------------------------------------------------------->

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="~/Scripts/application.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/camera.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/jquery.mobile.customized.min.js"></script>
    <script src="~/Scripts/jquery.preloader.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery.tweet.js"></script>
    <script src="~/Scripts/myscript.js"></script>
    <script src="~/Scripts/sorting.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/google-code-prettify/prettify.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>


    @RenderSection("ScriptEnd", false)


    <script>
    $(document).ready(function () {
        $("#boxMessage").hide();

        $("#liStudents").click(function () {
            $("#boxMessage").show();
            $('.camera_src').addClass("paused");
            $("#boxMessage").dialog({
                draggable: false,
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "סגור": function () {
                        $(this).dialog("close");
                        $("#boxMessage").hide();
                        $('.camera_src').removeClass("paused");
                    },
                    "היכנס": function () {
                        $(this).dialog("close");
                        $("#boxMessage").hide();
                        $('.camera_src').removeClass("paused");
                    }
                }
            });
            $(".ui-dialog-titlebar-close").click(function () {
                $("#boxMessage").hide();
                $('.camera_src').removeClass("paused");
            });
        });
    });
    </script>



</body>
</html>