﻿
<div class="wrap">
    <div class="container content_bg">
        <div id="options">
            @*<ul id="filters" class="option-set" data-option-key="filter">
                    <li><a href="#filter" data-option-value=".category02" class="btn dark_btn">רכיבה רוחנית</a></li>
                    <li><a href="#filter" data-option-value=".category03" class="btn dark_btn">קפיצות</a></li>
                    <li><a href="#filter" data-option-value=".category01" class="btn dark_btn">'דרסאג</a></li>
                    <li><a href="#filter" data-option-value=".category02" class="btn dark_btn">רכיבה מערבית</a></li>
                    <li><a href="#filter" data-option-value=".category03" class="btn dark_btn">רכיבה טיפולית</a></li>
                    <li><a href="#filter" data-option-value="*" class="btn dark_btn selected">הכל</a></li>
                </ul>*@
            <div class="clear"></div>
        </div>
        <div class="row">
            <!-- portfolio_block -->
            <div class="projects">
                <div class="span6 element category01 height_2column" data-category="category01">
                    <div class="hover_img">
                        <img src="~/images/portfolio/1.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">רכיבה טיפולית</a></h6>
                        <div class="descr">Et dicta essent vis, sed vitae dictas vulputate ea, ex zril quaeque mentitum quo.</div>
                    </div>
                </div>
                <div class="span6 element category02 height_2column" data-category="category02">
                    <div class="hover_img">
                        <img src="~/images/portfolio/2.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">רכיבה מערבית</a></h6>
                        <div class="descr">Tota ullum soluta at qui. Et nam malorum deleniti eleifend, ei lorem recusabo vim.</div>
                    </div>
                </div>
                <div class="span6 element category03 height_2column" data-category="category03">
                    <div class="hover_img">
                        <img src="~/images/portfolio/3.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">'דרסאג</a></h6>
                        <div class="descr">Et dicta essent vis, sed vitae dictas vulputate ea, ex zril quaeque mentitum quo.</div>
                    </div>
                </div>
                <div class="span6 element category01 height_2column" data-category="category01">
                    <div class="hover_img">
                        <img src="~/images/portfolio/4.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">קפיצות</a></h6>
                        <div class="descr">Per modo alterum et, pri etiam vituperatoribus in, melius bonorum ornatus mea ut.</div>
                    </div>
                </div>
                <div class="span6 element category02 height_2column" data-category="category02" onclick="location.href='@Url.Action("SpiritualRiding", "RidingStyles")'">
                    <div class="hover_img">
                        <img src="../images/gallery/Articles/spiritualRiding/1.jpg" />
                    </div>
                    <div class="item_description">
                        <h6>רכיבה רוחנית</h6>
                        <div class="descr">
                            <p dir="rtl">
                                סגנון הרכיבה שלי קצת שונה משל אחרים, ואני לא מדברת על התוצאה הסופית, אני מדברת על הדרך.....</p>
                        </div>
                    </div>
                </div>
                @*<div class="span6 element category03 height_2column" data-category="category03">
                        <div class="hover_img">
                            <img src="~/images/portfolio/6.jpg" alt="" />
                            <span class="portfolio_zoom"><a href="~/images/portfolio/6.jpg" rel="prettyPhoto[portfolio1]"></a></span>
                            <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                        </div>
                        <div class="item_description">
                            <h6><a href="single_portfolio.html">סגנון חופשי</a></h6>
                            <div class="descr">Vivendo incorrupte ad cum. Id has volutpat accusamus, pri ne iusto tamquam intellegebat.</div>
                        </div>
                    </div>*@
                <div class="clear"></div>
            </div>
            <!-- //portfolio_block -->
        </div>
    </div>
</div>


@section ScriptEnd
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("li").removeClass("current");
            $("#liRidingStyle").addClass("current");

        });
    </script>
}