﻿

<div class="container">
    <div class="wrap">
        <div class="container content_bg">
            <section>
                <div class="row">
                    <div class="span8">
                        <h2 class="title"><span dir='rtl'> רכיבה רוחנית (הרכיבה שלי), </span></h2>
                        <p style="text-align:right; font-size:medium; margin-bottom:18px;" dir='rtl'>

                            סגנון הרכיבה שלי קצת שונה משל אחרים, ואני לא מדברת על התוצאה הסופית, אני מדברת על הדרך.<br />
                            הבדלתי את הרכיבה שלי משל כל השאר כי שמתי לב שמדריכים בימנו מלמדים שונה ממה שאני למדתי, והייתי רוצה להעביר את החוויה העוצמתית שעברתי דרך הלמידה גם לכל תלמידיי.
                            <br />
                            <br />
                            בשנים הראשונות שלי ברכיבה למדתי אצל מאמן גדול, מאיר אליעבוש, שרוכב רכיבה קלאסית אוטנטית.<br />
                            למדתי אצלו עדינות, רגש, הקשבה, סובלנות, למדתי שככל שמבקשים פחות מקבלים יותר. <br />
                            הלימוד לא התמקד בפיתוח כישורי דרסז' מתקדמים, אלא באיך לרכך ולעצב את השרירים והגמישות של הסוס בדרך הנכונה. <br />
                            אצל מאיר עברתי את השינוי הנפשי. מאדם חסר סבלנות, שמתרגזת בקלות , עקשנית, אגרסיבית, לחוצה, הפכתי להיות אדם רגוע חייכנית ושלווה, אפילו גיליתי בעצמי אינטיליגנציה ריגשית גבוהה שלא הייתי מודעת אליה.<br />
                            <br />
                            כשהתחלתי לרכב אצל מאמנים גדולים אחרים שלימדו רכיבה ספורטיבית מודרנית תחרותית, הבנתי שזו רכיבה אחרת לגמרי! שאני אישית פחות התחברתי, למרות זאת רציתי ללמוד מהכל והגעתי למצב שעשיתי תרגילים מאוד מתקדמים ברכיבה והגעתי למקומות מאוד מכובדים בליגה
                            אך דרך הרכיבה היתה קשה יותר, לחוצה יותר, חזקה יותר והסוס היה תחת הרבה מאוד לחץ.<br />
                            מצד אחד אהבתי מה שלמדתי ממאיר ומצד שני אהבתי מאוד גם את האתגר שבתרגילים המתקדמים ואת הליגה, אז החלטתי לשלב בין שתי העולמות<br />
                            להגיעה לרמות מאוד גבוהות ולתרגילים מאוד מרשימים ומתקדמים ברכיבה תוך כדי דרך שהיא יותר שיתופית ורגועה.<br />
                            חיפשתי את החיבור ועבודת הצוות בין הסוס והרוכב.<br />
                            השלווה ברכיבה גמרה לי להבין עד כמה רחוק אני מגיעה ברכיבה שלי דרך רכות הקשבה וסבלנות, והתרגילים המתקדמים ברכיבה נעשו יותר מעצימים נפשית - כי הדרך לשם הייתה נכונה.
                            כמובן שהדרך לא פשוטה ולא קצרה אבל מאוד מעצימה נפשית!<br />
                            בשיעורים שלי לא תשמעו "הסוס עושה לך בכוונה" אלא "תנסו להבין מה הסוס מנסה להגיד לכם, הרי הסוס היא חיה אילמת שלא יכולה להגיד מה כואב לה במילים, אז היא פועלת", כמו כן לא תשמעו אותי אומרת "חזק יותר" אלא "הבקשה לא הייתה מספיק ברורה,
                            תנסה להבין איך אתה יכול לבצע אותה אחרת" וכמובן שלא אגיד "תענישו את הסוס, הסוס התחצף". לצערי שמעתי את המשפטים האלו אצל הרבה מאוד מאמנים ומדריכים שעברתי בדרך.<br />
                            <br />
                            מה אנחנו מלמדים את הרוכבים או את הילדים כאשר הם שומעים "תענישו", "חזק יותר" "מתחצף" ? מה אנחנו או הילדים שלנו לומדים מזה? שהאחר הוא האשם?  שהאחר יקשיב לנו רק אם ניהיה יותר אגרסיבים? <br />
                            הרי רכיבה לא אמורה לעשות ההפך? לא צריך להכניע את הסוס אלא לעבוד איתו <b>בהרמוניה</b>.<br />
                            רק כך הסוס יעביר לנו מרצונו את כוחו ועוצמתו, יתמסר אלינו ויווצר החיבור האמיתי בנינו לבינו.<br />
                             רק בדרך ההרמוניה יהיה אפשר להרגיש את השינוי והשלווה שבתוכנו שמחכה לפרוץ החוצה,
                            וזו הסיבה שהחלטתי לקרוא לסיגנון הרכיבה שלי – רכיבה רוחנית.
                            <br />
                            <br />
                            <br />
                            <img src="~/images/gallery/Articles/spiritualRiding/1into.jpg" />
                        </p>
                    </div>
                    <div class="span4">

                        <!--sidebar------------------------------------------------->
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="title"><span>text widjet</span></h2>
                                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                <p><a href="about.html" class="arrow_link">Read more</a></p>
                            </div>
                            <div class="widget">
                                <h2 class="title"><span>:מומלץ לקרוא גם</span></h2>
                                <ul class="recent_post">
                                    <li onclick="location.href='@Url.Action("?", "ctrl")'">
                                        <div><b>רכיבה מערבית</b></div>
                                        <p dir="rtl">
                                        </p>
                                        <div class="clear"></div>
                                    </li>
                                    <li onclick="location.href='@Url.Action("MyStory", "MyStory")'">
                                        <img src="../images/gallery/Articles/sideBar/myStory.jpg" />
                                        <div><b>הסיפור שלי</b></div>
                                        <p dir="rtl">
                                            קוראים לי טל אליהו ואני בת 25, <br />
                                            לא התחלתי לרכב מגיל צעיר כמו רב הרוכבים.....
                                        </p>
                                        <div class="clear"></div>
                                    </li>
                                    <li onclick="location.href='@Url.Action("Peaceful", "Articles")'">
                                        <img src="../images/gallery/Articles/sideBar/peaceful.jpg" />
                                        <div><b>שלווה נפשית </b></div>
                                        <p dir="rtl">
                                            מזה בכלל שלווה נפשית?
                                            לפעמים זה נשמע סתם כמו צמד מילים יפה.....
                                        </p>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                                <p><a href="@Url.Action("RidingStyles", "RidingStyles")" class="arrow_link">חזור אל סגנונות רכיבה</a></p>
                            </div>
                            <!--//sidebar------------------------------------------------->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section ScriptEnd
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("li").removeClass("current");
            $("#liRidingStyle").addClass("current");

        });
    </script>
}




