﻿
@{
    ViewBag.Title = "Index";
}
        <div class="container">
            <div class="title" style="text-align:center; font-size:1.5em; line-height:25px;">
                <b>
                    .רכיבה על סוסים זה האושר, השקט, הביטחון שלי <br />
                    .כשאני על הסוס אני נושמת לרווחה וכל הדאגות מתפוגגות כאילו אינן כלל
                </b> 
                    <div style="margin-bottom: 20px; margin-top: 10px;" >
                        <b>
            ,אני מזמינה אתכם לעשות משהו בשביל עצמכם <br />
            .בנייה ושיפור עצמי בתחום הבריאותי והנפשי באווירה רגועה, כיפית ומלמדת
                         </b>    
               </div>
            </div>
            <!--slider-->
            <div id="main_slider">
                <div class="camera_wrap" id="camera_wrap_1">
                    <div data-src="../images/gallery/HomePage/slider/slide2.jpg">
                        <div class="camera_caption fadeIn">
                            <div class="slide_descr">
                                חיזוק הביטחון העצמי 
                            </div>
                        </div>
                    </div>
                    <div data-src="../images/gallery/HomePage/slider/slide3.jpg">
                        <div class=" camera_caption2 fadein">
                            <div class="slide_descr">
                                ספורט לגוף ולנפש
                            </div>
                        </div>
                    </div>
                    <div data-src="../images/gallery/HomePage/slider/slide6.jpg">
                        <div class=" camera_caption3 fadein">
                            <div class="slide_descr">
                                פיתוח יכולות התקשורת
                            </div>
                        </div>
                    </div>
                </div><!-- #camera_wrap_1 -->
                <div class="clear"></div>
            </div>
            <!--//slider-->
        </div>

        <!--planning-->
        <div class="wrap planning">
            <div class="container">
                <div class="row">
                    <a class="span4" href="javascript:void(0);">
                        <span class="service_block">
                            <span class="icon_block">
                                <img src="~/images/gallery/HomePage/horse_icons/horserider_horse_race-512222.png" />
                            </span>
                            <span class="link_title">תחרויות</span>
                            הדירוג שלי בליגה
                        </span>
                    </a>
                    <a class="span4" href="javascript:void(0);">
                        <span class="service_block">
                            <span class="icon_block">
                                <img src="~/images/gallery/HomePage/horse_icons/horse-158791_640.png" />
                            </span>
                            <span class="link_title">שיעורי רכיבה</span>
                            סגנון הרכיבה שלי
                        </span>
                    </a>
                    <a class="span4" href="@Url.Action("MyStory", "MyStory")">
                        <span class="service_block" dir="rtl">
                            <span class="icon_block">
                                <img src="~/images/gallery/HomePage/horse_icons/horse-512.png" />
                            </span>
                            <span class="link_title">הסיפור שלי</span>
                                קוראים לי טל אליהו ואני בת 25, לא התחלתי לרכב מגיל צעיר כמו רב הרוכבים.....    
                        </span>                
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--//planning-->
        <!--Recent Gallery-->
        <div class="wrap recent_gal_block">
            <div class="container">
                <h2 class="title">:גלריית תמונות</h2>
                <div class="row">
                    <div class="span3 proj_block" href="single_portfolio.html">
                        <img src="~/images/gallery/HomePage/smallGallery/1.jpg" />
                    </div>
                    <div class="span3 proj_block" href="single_portfolio.html">
                        <img src="~/images/gallery/HomePage/smallGallery/2.jpg" />          
                    </div>
                    <div class="span3 proj_block" href="single_portfolio.html">
                        <img src="~/images/gallery/HomePage/smallGallery/4.jpg" />               
                    </div>
                    <div class="span3 proj_block" href="single_portfolio.html">
                        <img src="~/images/gallery/HomePage/smallGallery/5.jpg" />                
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--//Recent Gallery-->
        <!--Welcome-->
        <div class="wrap welcome_bg">
            <div class="container">
                <div class="welcome_block">"תמונה אחת שווה אלף מילים, הרגשה אחת אינה ניתנת להסבר במילים"</div>
            </div>
        </div>
        <!--//Welcome-->
        <!--Latest news-->
        <div class="wrap">
            <div class="container">
                <div class="row news_block">
                    <div class="span7">
                        <h2 class="title">ממליצים</h2>
                        <div class="tab_block">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#1" data-toggle="tab">קריירה</a></li>
                                <li><a href="#2" data-toggle="tab">הטיפול בסוס</a></li>
                                <li><a href="#3" data-toggle="tab">סוסי פוני</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="1">
                                    <img src="~/images/gallery/HomePage/tabs/3.jpg" />
                                    <p class="title">בלה בלה בלה</p>
                                    <p>Vivamus tempor ultrices arcu, in malesuada felis ultrices at. Etiam ultricies lectus quis erat ultricies semper.</p>
                                    <p>Donec adipiscing ut felis sed laoreet. Nulla eu nisi pellentesque, venenatis ipsum ac, vulputate mauris. Pellentesque</p>
                                </div>
                                <div class="tab-pane" id="2">
                                    <img src="~/images/gallery/HomePage/tabs/1.jpg" />
                                    <p class="title">Lorem ipsum dolor sit amet</p>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="tab-pane" id="3">
                                    <img src="~/images/gallery/HomePage/tabs/2.jpg" />
                                    <p class="title">Praesent eget consectetur neque</p>
                                    <p>Vivamus tempor ultrices arcu, in malesuada felis ultrices at. Etiam ultricies lectus quis erat ultricies semper.</p>
                                    <p>Donec adipiscing ut felis sed laoreet. Nulla eu nisi pellentesque, venenatis ipsum ac, vulputate mauris. Pellentesque</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span5 testimcarousel_block">
                        <h2 class="title">...קצת עלי</h2>
                        <ul>
                            <li>
                                <div class="testim_block">
                                    <div class="testim_block_txt">
                                        <p>סוסים זה סבבה והכל אבל תכלס אין על שרי אחותי הגדולה, היא כזאת בנאדם טוב שכל מה שבא לך לעשות זה להפקיד לה אלפיות לחשבון הבנק בלי לחשוב פעמיים.</p>
                                        <p>תודה רבה, אני הייתי טל -- ואיך אומרים אצלנו: טלושקץ טלושקץ מהיר זריז וחזק</p>
                                    </div>
                                    <div class="testim_author">
                                        <img src="~/images/gallery/HomePage/Sircle.png"/>
                                        <div class="author_descr">לימוד רכיבה מקצועית <span>- טל אליהו</span></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!--Latest news-->
 
@section ScriptEnd
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#camera_wrap_1').camera();

            $("li").removeClass("current");
            $("#liHome").addClass("current");
        });
</script>
}



