﻿
<div class="wrap">
    <div class="container content_bg">
        <div id="options">
            <ul id="filters" class="option-set" data-option-key="filter">
                <li><a href="#filter" data-option-value=".category01" class="btn dark_btn">רכיבה</a></li>
                <li><a href="#filter" data-option-value=".category02" class="btn dark_btn">לימודים</a></li>
                <li><a href="#filter" data-option-value=".category03" class="btn dark_btn">סוסים</a></li>
                <li><a href="#filter" data-option-value="*" class="btn dark_btn selected">הכל</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="row">
            <!-- portfolio_block -->
            <div class="projects">
                <div class="span4 element category01 height_3column" data-category="category01" onclick="location.href='@Url.Action("Peaceful", "Articles")'">
                    <div class="hover_img">
                        <img src="~/images/gallery/Articles/Peaceful/1.jpg" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">שלווה נפשית</a></h6>
                        <div class="descr">Et dicta essent vis, sed vitae dictas vulputate ea, ex zril quaeque mentitum quo.</div>
                    </div>
                </div>
                <div class="span4 element category01 height_3column" data-category="category01">
                    <div class="hover_img">
                        <img src="~/images/portfolio/1.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">שיעורי רכיבה</a></h6>
                        <div class="descr">Et dicta essent vis, sed vitae dictas vulputate ea, ex zril quaeque mentitum quo.</div>
                    </div>
                </div>
                <div class="span4 element category02 height_3column" data-category="category02">
                    <div class="hover_img">
                        <img src="~/images/portfolio/2.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">רכיבה רוחנית</a></h6>
                        <div class="descr">Tota ullum soluta at qui. Et nam malorum deleniti eleifend, ei lorem recusabo vim.</div>
                    </div>
                </div>
                <div class="span4 element category03 height_3column" data-category="category03">
                    <div class="hover_img">
                        <img src="~/images/portfolio/3.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">הטיפול בסוס</a></h6>
                        <div class="descr">Et dicta essent vis, sed vitae dictas vulputate ea, ex zril quaeque mentitum quo.</div>
                    </div>
                </div>
                <div class="span4 element category01 height_3column" data-category="category01">
                    <div class="hover_img">
                        <img src="~/images/portfolio/4.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">אני רוצה להיות רוכב! מאיפה מתחילים</a></h6>
                        <div class="descr">Per modo alterum et, pri etiam vituperatoribus in, melius bonorum ornatus mea ut.</div>
                    </div>
                </div>
                <div class="span4 element category02 height_3column" data-category="category02">
                    <div class="hover_img">
                        <img src="~/images/portfolio/5.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">אילוף סוסים</a></h6>
                        <div class="descr">Cu quo fugit tempor nemore, aeque commodo comprehensam ea sea. Iriure fabellas constituto.</div>
                    </div>
                </div>
                <div class="span4 element category03 height_3column" data-category="category03">
                    <div class="hover_img">
                        <img src="~/images/portfolio/6.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">בעיות התנהגות</a></h6>
                        <div class="descr">Vivendo incorrupte ad cum. Id has volutpat accusamus, pri ne iusto tamquam intellegebat.</div>
                    </div>
                </div>
                <div class="span4 element category01 height_3column" data-category="category01">
                    <div class="hover_img">
                        <img src="~/images/portfolio/7.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">הסיפור שלי</a></h6>
                        <div class="descr">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh quisque condimentum velit.</div>
                    </div>
                </div>
                <div class="span4 element category02 height_3column" data-category="category02">
                    <div class="hover_img">
                        <img src="~/images/portfolio/8.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">מה קורה חברים</a></h6>
                        <div class="descr">Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget.</div>
                    </div>
                </div>
                <div class="span4 element category03 height_3column" data-category="category03">
                    <div class="hover_img">
                        <img src="~/images/portfolio/9.jpg" alt="" />
                    </div>
                    <div class="item_description">
                        <h6><a href="single_portfolio.html">מאמר</a></h6>
                        <div class="descr">Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede orci risus.</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!-- //portfolio_block -->
        </div>
    </div>
</div>


@section ScriptEnd
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("li").removeClass("current");
            $("#liArticles").addClass("current");

        });
    </script>
}
