﻿

<div class="container">
    <div class="wrap">
        <div class="container content_bg">
            <section>
                <div class="row">
                    <div class="span8">
                        <h2 class="title"><span>,שלווה נפשית</span></h2>
                        <p style="text-align:right; font-size:medium; margin-bottom:18px;" dir='rtl'>

                            מזה בכלל שלווה נפשית? <br />
                            לפעמים זה נשמע סתם כמו צמד מילים יפה ולא מובן.<br />
                            אז אני מכירה את הצמד מילים הזה טוב. לא הבנתי בתחילת דרכי אחרי הצבא שכל החיים שלי הייתי בלחץ נפשי ובסטרס.
                            כל הזמן הייתי עצבנית וחסרת סבלנות וכמעט לא היו לי רגעי אושר, עד שכבר לא היו בכלל, אבל את זה אני יודעת רק היום.
                            כשהייתי בתוך כל המערבולת הזו לא ידעתי מה מציק לי, למה אני לא יכולה להפסיק לחשוב כל כך הרבה ופשוט לנשום .
                            התובנות הגיעו רק אחרי שכבר הייתי יציבה ורגועה, רק בדיאבד הבנתי את המצב שהייתי בו.
                            <br />
                            <br />
                            שקט נפשי זה מצב בו אתה לא נמצא בחלל הזמן הלחוץ, זה מצב שאתה מרגיש רגוע, הרגשת ביטחון כזו שכשאתה נכנס לחדר למשל, אתה זוהר ונוצץ וכולם מסתנוורים ואוהבים את הנוכחות שלך.
                            זה מרגיש ככה בגלל שאתה אוהב את הנוכחות של עצמך,
                            זה המצב בו אתה אומר מילים ומשפטים ותופח לעצמך על השכם ואומר לעצמך "כל הכבוד על מה שאמרתי".
                            זה מצב בו אתה מרגיש שאתה יכול לסחוב כל מטען ולחייך שיש לך אותם, זה להיות שליו ואנרגטי באותו הזמן, זה הרגע שאתה נושם נשימה עמוקה ולא בגלל שהרופא ביקש ממך.
                            זה פשוט להיות מאושר בחלקך.
                            <br />
                            <br />
                            <br />
                            <img src="~/images/gallery/Articles/Peaceful/1Into.jpg" />
                        </p>
                    </div>
                    <div class="span4">

                        <!--sidebar------------------------------------------------->
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="title"><span>text widjet</span></h2>
                                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                <p><a href="about.html" class="arrow_link">Read more</a></p>
                            </div>
                            <div class="widget">
                                <h2 class="title"><span>:מומלץ לקרוא גם</span></h2>
                                <ul class="recent_post">
                                    <li onclick="location.href='@Url.Action("MyStory", "MyStory")'">
                                        <img src="../images/gallery/Articles/sideBar/myStory.jpg" />
                                        <div><b>הסיפור שלי</b></div>
                                        <p dir="rtl">
                                            קוראים לי טל אליהו ואני בת 25, <br/>
                                            לא התחלתי לרכב מגיל צעיר כמו רב הרוכבים.....
                                        </p>
                                        <div class="clear"></div>
                                    </li>
                                    <li onclick="location.href='@Url.Action("SpiritualRiding", "RidingStyles")'">
                                        <img src="../images/gallery/Articles/sideBar/spiritualRiding.jpg" />
                                        <div><b>רכיבה רוחנית</b></div>
                                        <p dir="rtl">
                                            סגנון הרכיבה שלי קצת שונה משל אחרים,
                                            ואני לא מדברת על התוצאה הסופית, אני מדברת על
                                            הדרך.....
                                        </p>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <a href="#"><img src="~/images/img10.jpg" alt="" /></a>
                                        <div><a href="#"> תחרויות </a></div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                                <p><a href="@Url.Action("Articles", "Articles")" class="arrow_link">חזור אל מאמרים</a></p>
                            </div>
                            <!--//sidebar------------------------------------------------->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section ScriptEnd
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("li").removeClass("current");
            $("#liArticles").addClass("current");

        });
    </script>
}


