﻿

<div class="wrap">
    <div class="container">
        <section>
            <div class="row">
                <div class="span4">
                    <h2 class="title"><span>סיכומי שיעורים</span></h2>
                    <p>גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ</p>
                    <p>גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ</p>
                </div>
                <div class="span4">
                    <h2 class="title"><span>סירטונים</span></h2>
                    <p>גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ</p>
                    <p>גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ</p>
                </div>
                <div class="span4">
                    <h2 class="title"><span>התמונות שלכם</span></h2>
                    <p>גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ</p>
                    <p>גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכגדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ</p>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title"><span>הסוסים</span></h2>
            <p>גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ</p>
            <div class="row">
                <div class="span3">
                    <div class="profile">
                        <img alt="" src="images/team1.jpg">
                        <h4>John Doe</h4>
                        <div class="profile_title">דגדשגשדגש</div>
                        <p>דגכדגכ גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ</p>
                    </div>
                </div>
                <div class="span3">
                    <div class="profile">
                        <img alt="" src="images/team2.jpg">
                        <h4>גדכדגכגדכ</h4>
                        <div class="profile_title">שדגשדגשדגש</div>
                        <p>גדכגדכגדכגד גדכדגכגדכ דגכדגכגדכדג גכדגכדגכדגכדגכדגכדגכ</p>
                    </div>
                </div>
                <div class="span3">
                    <div class="profile">
                        <img alt="" src="images/team3.jpg">
                        <h4>דגכדגכדגכ</h4>
                        <div class="profile_title">שדגשדגשדגשt</div>
                        <p>דגכדגכדגכדגכדגכ דגכדג  דגכדג כגגד כדג כ דגכ  דגכ דגכדגכדגכ דג כ דגכ דג כ דג כ דג כ דגכ דג כ דג כ דגכדגכ</p>
                    </div>
                </div>
                <div class="span3">
                    <div class="profile">
                        <img alt="" src="images/team4.jpg">
                        <h4>דגכדגכ דגכדגכ</h4>
                        <div class="profile_title">שדגשדגשדגשדג</div>
                        <p>גדכגדכדגכדגכדגכד</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section ScriptEnd
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("li").removeClass("current");
            $("#liStudents").addClass("current");

        });
    </script>
}

